{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="hero-wrap hero-wrap-2">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center ftco-animate pt-5">
                <h1 class="mb-3 bread">Our Blog</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="/index-2">Home <i
                        class="fa fa-chevron-right"></i></a></span> <span>Blog <i
                        class="fa fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container-fluid">
        <div class="tagcloud">
            {% for tag in tags %}
            <a href="/blog/?tag={{tag}}" class="tag-cloud-link">{{tag}}</a>
            {% endfor %}
        </div>


        <div class="row">
            {% for post in posts %}
            <div class="col-md-6 col-lg-4 blog-wrap blog-wrap-2 px-md-5 ftco-animate">
                <a href="/blog-single/{{post.slug}}" class="img img-blog w-100 border d-block"
                   style="background-image:url({{ post.image.url }})">
                </a>
                <div class="text text-2 py-4 p-0 ftco-animate">
                    <p class="meta">
                        <a href="/"><span class="fa fa-calendar mr-2"></span>{{post.created_at}}</a>
                        <a href="/"><span class="fa fa-user mr-2"></span>Admin</a>
                        <a href="/" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                    </p>
                    <h2 class="mb-4"><a href="/blog-single/{{ post.slug }}">{{ post.title }}</a>
                    </h2>
                    <div class="icon d-flex align-items-center">
                        <div class="img"
                             style="background-image:url({% static 'images/xperson_1.jpg.pagespeed.ic.P4pHl6glbj.jpg' %})"></div>
                        <div class="position pl-3">
                            <h4 class="mb-0">Jamie Jonson</h4>
                            <span>CEO, Product Designer</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        {% if posts.has_previous %}
                        <li class="page-item  active"><a class="page-link"
                                                         href="?page={{ posts.previous_page_number }}">Prev</a>
                        </li>
                        {% endif %}
                        {% for i in p.page_range %}
                        {% if posts.number == i %}
                        <li class="active"><a
                                href="?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                        <li><a class="page-link"
                               href="?page={{ i }}">{{ i }}</a></li>

                        {% endif %}

                        {% endfor %}
                        {% if posts.has_next %}
                        <li class="active"><a
                                href="?page={{ posts.next_page_number }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

{% endblock %}